table{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

table, td, th{
    padding: 4px;
    border: 1px solid black;
    margin-top: 20px;
}

th{
    color: white;
    background-color: darkblue;
}